* {
    padding-top: 0px; 
    
}

.icones{
    opacity: 0.8;
}

/* CÓDIGO PARA GERAR O EFEITO DE AUMENTO DE TAMANHO AO PASSAR O MOUSE NOS BOTÕES ARREDONDADOS DA ACTION LISTAR  */
.icones:hover 
{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    opacity: 1;
    
}

#brand{
    padding-left: 10px;

}

/* Set padding to keep content from hitting the edges 
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

 Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 

.dl-horizontal dt {
    white-space: normal;
}

 Set width on the form input elements since they're 100% wide by default 
input,
select,
textarea {
    max-width: 280px;
}*/
