
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Página inicial Pagamentos</title>

</head>

<body>
    <h2>Pagamentos</h2>
    <p>
        @Html.ActionLink("Listar", "Listar", "Pagamento", new { @class = "waves-effect waves-light btn" })
        @Html.ActionLink("Adicionar", "Create", "Pagamento", new { @class = "waves-effect waves-light blue btn" })
    </p>


</body>

</html>

