
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Categoria</h2>


<p><a href="@Url.Action("Listar", "Categoria")" class="waves-effect waves-light btn">Listar</a>
<a href="@Url.Action("Create", "Categoria")" class="waves-effect waves-light blue btn">Adicionar</a></p>

